<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budgtr App</title>
</head>

<nav>
    <a href="/budget">Back to Budget</a>
</nav>

<body>
    <h1>New Budget</h1>
    <form action="/budget" method="POST">
        Name: <input type="text" name="name" /><br />
        Date: <input type="text" name="date" /><br />
        From: <input type="text" name="from" /><br />
        Amount: <input type="text" name="amount" /><br />
        Tags: <input type="text" name="tags" /><br />
        <input type="submit" value="Create New Budget" />
    </form>
</body>

</html>